<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
      window.logoPic = "<%= image_url("logo.svg")%>"
</script>
<script type="text/javascript">
      window.logopic2 = "<%= image_url("Evernote-logo.png")%>"
</script>

<main id="root">
<h2>App Not Rendering</h2>
</main>
