/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* SIGN UP FORM CONTAINER --------------------- ----------------*/
.signup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 525px;
  height: 720px;
  background-color: white;
  box-shadow: 1px 1px 25px lightgray;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.form-header h2{
  font-size: 45px;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  
}

.form-header p {
  font-size: 16px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 250;
  color:  rgb(90, 90, 90);
  margin: 10px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 50px 50px;
  width: 320px;
}

.input-fields {
  border-radius: 8px;
  height: 45px;

  box-sizing: border-box;
  margin: 5px 0;
  border: 1px solid;
  border-color: whitesmoke;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
  padding: 10px;
  font-weight: 350;
}

.form-button {
  height: 50px;
  color: white;
  background-color: #00A94F;
  border-radius: 8px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  margin: 20px 0;
}
.form-button:hover{
  background-color: #009A4C;
  cursor: pointer;
}
.or-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  color: rgb(206, 206, 206);
  font-family: 'Didact Gothic', sans-serif;
}
.hr {
  width: 43%;
  height: 1px;
  background-color: rgb(206, 206, 206);
  
}

.form-button-demo {
  height: 50px;
  color: gray;
  background-color:white;
  border-radius: 8px;
  border-color: rgb(233, 231, 231);
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  margin-bottom: 14px;
  height: 50px;
  width: 320px;
  margin-top: 20px;
}

.form-button-demo:hover {
  background-color: rgb(233, 231, 231);
  cursor: pointer;
}

.logo {
  width: 18%;
  margin-top: 18px;
}

.form-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fdfdfd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%2300bd56' fill-opacity='0.12'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.form-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  height: 45px;
  font-family: 'Didact Gothic', sans-serif;
}

.form-link-container div {
  font-weight: 200;
  font-size: 15px;
  color: grey;
  margin-bottom: 5px;
}

.form-link {
  text-decoration: none;
  color: #00A94F;
  font-size: 18px;
  font-weight: 400;
}

.errors {
  list-style: none;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 11px;
  color: #10316b ;
  font-weight: 600;
}

/* NavBar---------------------------------------------------- */
.nav-parent-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  z-index: 22;
  background-color: white;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  height: 70px;
  min-width: 600px;
  z-index: 99;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 24px;
  width: 100px;
}
.nav-logo img {
  width: 85px;
}

.nav-buttons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}

.nav-buttons li {
  font-family: 'Didact Gothic', sans-serif;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 400;
}
.nav-buttons li link {
  text-decoration: none;
  
}

.nav-signup {
  font-family: 'Didact Gothic', sans-serif;
  text-decoration: none;
  color: #00A94F;
  
}

.nav-login {
  font-family: 'Didact Gothic', sans-serif;
  text-decoration: none;
  width: 10px;
  padding: 8px 38px 8px 38px;
  height: 4.5px;
  border: 1.5px solid #00A94F;
  border-radius: 3.75px;
  color: #00A94F;
}

.or {
  padding-top: 1px;
  font-size: 12px;
}

/* Splash-------------------------------- */
.splash-container {
  /* margin-top: 120px; */
  padding-top: 80px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  height: 620px;
  background-color: #00a94f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%2376c043' fill-opacity='0.4' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
}

.splash-image img{
  width: 80%;
  height: 80%;
  margin: 30px 0px 30px 20px;

}

.splash-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Sans-serif;
  color: white;
  min-width: 350px;
  max-width: 450px;
  margin: 40px 10px 40px 40px;
}

.splash-text h2 {
  color: white;
  font-size: 47px;
  font-weight: 700;
  margin-bottom: 25px;
}

.splash-text h4 {
  font-size: 18px;
  font-weight: 100;
  line-height: 40px;
  letter-spacing: 1.5px;
}

.splash-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border-radius: 3px;
  background-color: white;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 550;
}

.splash-signup {
  color: #00A94F;
  text-decoration: none;
}

/* Splash2---------------------------------------------------- */

.splash2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(249, 245, 245);
}

.splash2-image {
  margin: 80px 0;
  height: 100px;
}

.splash2-container h2 {
  font-family: sans-serif;
  font-size: 40px;
  color: rgb(34, 34, 34);
  margin-top: 100px;
}

.splash2-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px 45px;
  font-family: sans-serif;
  font-size: 20px;
  color: gray;
}

.splash2-text h3 {
  line-height: 40px;
  letter-spacing: 2px;
  margin: 20px 10px;
  font-weight: 100;
}



.st1, .st2, .st3 {
  width: 20%;
  font-weight: 100;
  
}

/* Splash3---------------------------------------------------------- */


.splash3-container h2 {
  font-size: 40px;
  font-family: sans-serif;
}

.splash3-container h3 {
  font-size: 30px;
  font-family: sans-serif;
  color: #00A94F;
}

.splash3-container h6 {
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 100px;
}

.splash3-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.splash3-image {
  margin: 0 auto;
  height: 45px;
}

.splash3-header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 80px 0;
  height: 140px;
  max-width: 600;
}

.splash3-brain-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 100px;
}

.brain-pic {
  width: 240px;
  height: 240px;
  margin-left: 20px;
}

.sb1, .sb2 {
  line-height: 34px;
  max-width: 410px; 
  margin: 20px;
}

.splash3-organize-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-bottom: 100px;
}

.organize-pic {
  width: 280px;
  height: 280px;
  margin-right: 20px;
}

.splash3-collaborate-container {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-bottom: 100px;
}

.collaborate-pic {
  width: 280px;
  height: 280px;
  margin-right: 20px;
}
/* Splash4---------------------------------------------------------------- */
.splash4-signup-today {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #00A94F;
  color: white;
  padding-left: 50px;
}

.bottom-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
  width: 420px;
  height: 550px;
}

.bottom-signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.splash4-signup-today h3 {
  font-family: sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 50px;
  margin-top: 150px;
}

.splash4-signup-today h6 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.splash4-signup-today p {
  color: white;}


.splash4-signup-today a {
  color: white;
}

/* APP-container------------------------------------------------------------ */
.main-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
/* Sidebar------------------------------------------------------------------ */

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 240px;
  background-color: rgb(31, 31, 31);
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  font-family: sans-serif;
  color: lightgray;
  font-size: 13px;
  margin-bottom: 50px;
}
.profile img{
  width: 80px;
}

.add-note {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  font-family: sans-serif;
  color: white;
}

.add-note img {
  width: 33px;
  margin-right: 7px;
}

.sidebar-list {
  display: flex;
  flex-direction: row;
  color: lightgray;
  font-family: sans-serif;
  font-size: 15px;
  margin: 15px 25px;
  list-style: none;
}

.sidebar-list-ul {
  list-style: none;
}

.sidebar-list img {
  height: 18px;
  margin-right: 7px;
}

.logoutButton {
  width: 55px;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 60vh;
}




/* NOTEBOOKS---------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ----NOTEBOOKS HEADER COMPONENT----- */
.notebooks-container {
  width: 100vw;
}
.nb-header {
  font-family: sans-serif;
}
.nb-header h3 {
  font-size: 25px;
  margin: 30px;
}
.nb-header img {
  height: 20px;
}

.nb-header-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8% 10px 30px;
  font-weight: 600;
}

.nb-header-sub-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.nb-row-head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  padding: 12px 0 12px 15px;
  list-style: none;
  background-color: rgb(241, 241, 241);
  border-top: 2px solid rgb(109, 109, 109);
  border-bottom: .5px solid lightgray;
  color: rgb(160, 160, 160);

}

.nb-row-head a {
  color:rgb(160, 160, 160);
}

.nb-header-notebook {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

.nb-header-notebook p{
  color: #00A94F;
  font-weight: 600;
}



/* Notebook Items--------------------------------------------------------- */

.notebook-item {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(105, 104, 104);
}
.notebook-item-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  list-style: none;
  padding: 12px 0;
  background-color: white;
}

.notebook-item-list:hover {
  background-color: rgb(241, 241, 241);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.nb-dropdown-menu {
  display: none;
  position: absolute;
  width: 140px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px lightgray;
  border-radius: 2px;
}

.dropdown a{
  text-decoration: none;
}


.nb-dropdown-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: 17px;
  
}
.nb-actions a {
  text-decoration: none;
}
.nb-dropdown-items li{
  margin: 5px;
}
.nb-dropdown-items a{
  font-family: sans-serif;
  color:  rgb(51, 51, 51);
  
}
.show {
  display: block;
}

.nb-title {
  font-weight: 900px;
}

.action-button {
  border: none;
  padding: none;
  margin: none;
  background-color: transparent;
}
