/* ----NOTEBOOKS HEADER COMPONENT----- */
.notebooks-container {
  position: relative;
  width: 100%;
  min-width: 600px;
  margin-left: 240px;
  margin-right: 30px;
  }

.nb-header {
  font-family: 'Muli', sans-serif;
  border-top: lightgray;
  margin-left: 30px;
}

.nb-header h3 {
  font-size: 25px;
  margin: 20px 0px;
}

.nb-header img {
  height: 20px;
}

.nb-header-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  font-weight: 600;
  font-size: 22px;
}

.nb-header-sub-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}


.nb-row-head button {
  color:rgb(160, 160, 160);
}

.nb-header-notebook {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

.nb-header-notebook button{
  color: #00A94F;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.nb-header-notebook button p {
  margin: 0 2px 2px 0;
}



/* Notebook Items--------------------------------------------------------- */

.notebook-item {
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: rgb(105, 104, 104);
}

.notebook-item-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 12px 0;
  margin-left: 30px;
  background-color: white;
}

.nb-title, .nb-createby, .nb-created, .nb-updated, .nb-actions {
  display: flex;
  justify-content: flex-start;
}

.nb-title {
  width: 280px;
  font-size: 16px;
}

.nb-createdby{
  width: 180px;
}

.nb-created, .nb-updated {
  width: 150px;
}

.nb-actions {
  position: relative;
  width: 80px;
}

.nb-list-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 12px 0;
  font-size: 11px;
}

.nb-row-head {
  background-color: rgb(241, 241, 241);
  border-top: 2px solid rgb(24, 24, 24);
  border-bottom: .5px solid lightgray;
  color: rgb(160, 160, 160);
}

.notebook-item-list:hover {
  background-color: rgb(241, 241, 241);
}

.notebook-sorting-menu {
  position: absolute;
  left: -170;
  width: 140px;
  height: 140px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px lightgray;
  border-radius: 2px;
  z-index: 22;
  right: 20px;
}
.nb-sorting-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 140px;
  margin-top: 10px;
}

.nb-sorting-list li:hover{
  width: 100%;
  background-color: lightgray;
}

.notebook-action-menu{
  position: absolute;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  left: -170;
  width: 90px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px lightgray;
  border-radius: 2px;
  z-index: 22;
  right: 20px;
}
.nb-action-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.nb-action-list li:hover {
  width: 90px;
  background-color: lightgray;
}

.nb-action-button {
  border: none;
  padding: 0 10px;
  margin: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 200px;
  font-family: 'Muli', sans-serif;
  padding: 3px 10px;
}

.nb-title {
  display: flex;
  align-items: center;
  font-weight: 900px;
  font-size: 14px;
  color: rgb(28, 28, 28);
  text-decoration: none;
}


.nb-sorting-button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 300px;
  font-family: 'Muli', sans-serif;
  padding: 5px 0;
  margin-left: 10px;
}

.button-text {
  border: none;
  padding: none;
  margin: none;
  background-color: transparent;
}

.small-icon {
  height: 17px;
  margin-right: 3px;
}