.notes-index-component {
  max-width: 30vw;
  min-width: 20vw;
  margin-left: 240px;
  border-right: solid 1px rgb(228, 228, 228);
}
.notes-idx-item-outer-container{
  display: flex;
  justify-content: flex-start;
  color: rgb(46, 46, 46);
  border-bottom: 1px solid rgb(228, 228, 228);
  min-width: 300px;
    z-index: 0;

}

.notes-idx-item-outer-container:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.notes-idx-item-inner-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  z-index: 0;

}
.notes-idx-item-inner-container a{
  text-decoration: none;
}
.notes-idx-item-inner-container h3{
  font-weight: 600;
  font-size: 18px;
}
.notes-idx-title-container {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 15px;
  
}
.notes-idx-title-container a {
  text-decoration: none;

}
.notes-idx-body-container {
  height: 60px;
  font-size: 13px;
  margin: 5px 15px;
}

.notes-idx-times-container {
  display: flex;
  flex-direction: row;
  margin: 5px 15px 5px 15px;
  color: rgb(201, 201, 201);
  font-size: 11px;
  font-weight: 100;
}

.notes-idx-times-container p {
  font-size: 10px;
  margin-right: 20px;
}
.notes-idx-header-outer {
  border-bottom: 1px solid rgb(228, 228, 228);

}
.notes-idx-header {
  display: flex;
  flex-direction: column;
  margin: 15px 25px;
  font-family: 'Muli', sans-serif;

}

.notes-idx-header h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.notes-idx-sub-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: rgb(201, 201, 201);

}

.notes-idx-sub-header img {
  width: 20px;
}

.note-bottom-container {
  position: relative;
}

.notes-sorting-menu {
  position: absolute;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  left: -170;
  width: 140px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px lightgray;
  border-radius: 2px;
  z-index: 22;
  right: 60px;
}

.notes-sorting-menu li:last-child {
  margin-bottom: 15px;
}

.tags-sorting-menu {
  position: absolute;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  left: -1700;
  width: 140px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px lightgray;
  border-radius: 2px;
  z-index: 22;
  right: 20px;
}

.tags-sorting-menu li:last-child {
  margin-bottom: 10px;
}

.nb-sorting {
  margin-left: 0;
}

.notes-idx-list-container a {
  text-decoration: none;

}