/* Sidebar------------------------------------------------------------------ */

.sidebar-container {
  position: fixed;
  left:0;
  top:0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 240px;
  background-color: rgb(24, 24, 24);
  z-index: 5;
  text-decoration: none;
  font-family: 'Muli', sans-serif;

}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  font-family: 'Muli', sans-serif;
  color: lightgray;
  font-size: 14px;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.profile-container {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  margin: 10px 5px 15px 10px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}
.profile img{
  width: 50px;
  margin-left: 6px;
}

.add-note {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 15px;
  font-family: 'Muli', sans-serif;
  color: white;
  font-size: 12px;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.add-note img {
  width: 33px;
  margin-right: 7px;
}

.sidebar-list {
  display: flex;
  flex-direction: row;
  color: lightgray;
  font-size: 13px;
  margin: 15px 25px;
  list-style: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  font-weight: 800;

}

.sidebar-list-ul {
  list-style: none
}

.sidebar-list img {
  height: 18px;
  margin-right: 5px;
}

.side-logout {
  background-color: #00A94F;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  color: white;
  margin: 200px 20px;
  min-height: 30px;

}

.logoutButton {
  width: 55px;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 60vh;

}

.sidebar-small {
  display: flex;
  flex-direction: row;
  color: lightgray;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  margin: 15px 20px;
  list-style: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.sidebar-small:hover {
  color: gray;
}

.sidebar-small img {
  height: 15px;
  margin: 0 5px;
}

.notebooks-sidebar-menu {
  margin-left: 15px;
}

.sidebar-button {
  margin: 0 0 0 24px;
  padding: 0;

}

.sidebar-notebook-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 20px;
  padding: 0px;
  margin: 0;
}

.sidebar-list-a {
  color: lightgray;
  font-size: 13px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidebar-list .sidebar-button {
  margin-right: 0;
  padding: 0;
}

.sidebar-list.tags {
  color: rgb(100, 100, 100);
}