/* Splash4---------------------------------------------------------------- */
.splash4-outer-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #00A94F;
  padding-top: 0px;
  padding-bottom: 50px;
}
.splash4-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  /* padding-left: 50px; */
}

.bottom-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  width: 600px;
  height: 550px;
}

.bottom-signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.bottom-signup-form .form-button {
  margin: 20px 0 0 0px;
  width: 400px;
}

.bottom-signup-form .form-button-demo {
  margin-left: 80px;
  width: 400px;
}

.bottom-signup-form input {
  width: 400px;
}

.bottom-signup-form .form-header {
  margin-left: 80px;
}

.bottom-signup-form .or-line {
  margin-left: 80px;
}

.bottom-signup .form-link-container {
  color: green;
  margin-left: 80px;
  
}
.splash4-inner-container h3 {
  font-family: 'Muli', sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-top: 150px;
}

.splash4-inner-container h6 {
  font-family: 'Muli', sans-serif;
  font-size: 25px;
  font-weight: 100;
  line-height: 1.5;
}

.splash4-inner-container p {
  color: white;}


.splash4-inner-container a {
  color: white;
}