/* Splash4---------------------------------------------------------------- */
.splash4-outer-container{
  display: flex;
  justify-content: center;
  background-color: #00A94F;
  padding-top: 50px;
  padding-bottom: 50px;
}
.splash4-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  /* padding-left: 50px; */
}

.bottom-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
  width: 420px;
  height: 550px;
}

.bottom-signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bottom-signup-form .form-button {
  margin-bottom: 0px;
}

.bottom-signup .form-link-container {
  color: green;
}
.splash4-inner-container h3 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 50px;
  margin-top: 150px;
}

.splash4-inner-container h6 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 25px;
  font-weight: 100;
}

.splash4-inner-container p {
  color: white;}


.splash4-inner-container a {
  color: white;
}