.tags-index-outer-container {
    width: 100%;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
}

.tags-index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10px;
    border-bottom: 2px solid rgb(46, 46, 46);
    font-weight: 400;
}

.tags-index-body {
    margin: 20px 50px;
}

.tags-index-letter-groups > h3 {
    margin: 15px 0;
    font-size: 16px;
}

.tags-index-inner-list {
    list-style: none;
    font-size: 14px;
}

.tags-index-inner-list li {
    margin-bottom: 5px;
    
}

.tags-menu {
    position: absolute;
    width: 80px;
    min-height: 50px;
    box-shadow: 1px 1px 10px lightgray;
    padding: 10px;
}

.tags-menu ul{
    list-style: none;
}

.note-tags-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.note-tag-button {
    background-color: #00A94F;
    min-width: 50px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 9px;
    margin: 5px;
}