.tags-index-outer-container {
    width: 100%;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
}

.tags-index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10px;
    border-bottom: 2px solid rgb(46, 46, 46);
    font-weight: 400;
}

.tags-index-body {
    margin: 20px 50px;
}
.tags-index-letter-groups > h3 {
    font-size: 16px;
}

.tags-index-inner-list {
    list-style: none;
    font-size: 14px;
}

