.tags-index-outer-container {
    width: 100%;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
    margin-left: 240px;
}

.tags-index-inner-container {
    margin-left: 30px;
}

.tags-index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10px 30px 50px;
    border-bottom: 2px solid rgb(46, 46, 46);
    font-weight: 400;
}

.tags-index-header-button button {
    color: rgb(46, 46, 46);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.tags-index-header-button {
    display: flex;
    justify-content: center;
}
.tags-index-header-button img {
    width: 30px;
    height: 30px;
}

.tags-index-body {
    margin: 20px 50px;
}

.tags-index-letter-groups > h3 {
    margin: 15px 0;
    font-size: 16px;
}

.tags-index-inner-list {
    list-style: none;
    font-size: 14px;
}

.tags-index-inner-list li {
    margin-bottom: 5px;
    
}

.tags-index-inner-list a{
    text-decoration: none;
    color: rgb(46, 46, 46);
}

.note-tags-container {
    position: relative;
}

.tags-menu {
    position: absolute;
    min-width: 80px;
    min-height: 50px;
    box-shadow: 1px 1px 10px lightgray;
    bottom: 50px;
}

.tags-menu ul{
    list-style: none;
    margin: none;
}

.note-tags-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.note-tag-button {
    background-color: #00A94F;
    min-width: 50px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 9px;
    margin: 5px;
}

.tags-menu li {
    padding: 1px 3px;
}

.tags-menu li:first-child {
    padding-top: 7px;
}

.tags-menu li:last-child {
    padding-bottom: 7px;
}
.tags-menu li:hover {
    background-color: lightgrey;
}

.delete-button {
    color: white;
}

.delete-button:hover {
    background-color: #00A94F;
    min-width: 50px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 9px;
    margin-left: 2px;
}